*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    margin: o 20px;
}