*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 20px;
}

.header{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBbxAw6qzV_H-cnvflT1liQQMhfuxTxKZ69w&usqp=CAU);
    height: 400px;
}