*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 20px;
}

.header{
    height: 400px;
    width: 100vh;
    background-color: url(https://images.app.goo.gl/9nBWJMbZXKQCHArp8)
}
